body{

margin:0;
overflow:hidden;

background:#000;

color:#ff0000;

font-family:monospace;

}


/* ======================
CANVAS 3D
====================== */

canvas{

position:fixed;
top:0;
left:0;

background:#000;

}


/* ======================
CARIMBO TOP SECRET
====================== */

.secret-stamp{

position:absolute;

top:35px;

left:50%;

transform:translateX(-50%);

border:4px solid #ff0000;

border-radius:10px;

color:#ff0000;

background:rgba(0,0,0,0.9);

text-align:center;

width:340px;

z-index:10;

}


/* TEXTO JAPONES */

.stamp-jp{

font-size:42px;

letter-spacing:10px;

padding:8px 0;

border-bottom:4px solid #ff0000;

}


/* PARTE INFERIOR */

.stamp-bottom{

padding:10px 0;

}


/* TOP SECRET (MAIOR) */

.stamp-topsecret{

font-size:30px;

letter-spacing:4px;

margin-bottom:2px;

font-weight:bold;

}


/* PROJETO MAGI (MENOR) */

.stamp-magi{

font-size:18px;

letter-spacing:3px;

}


/* ======================
CHAT
====================== */

.chat-container{

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

width:440px;

background:rgba(0,0,0,0.9);

border:1px solid #ff0000;

padding:8px;

z-index:10;

}

#chat-box{

height:60px;

overflow-y:auto;

margin-bottom:6px;

font-size:13px;

}

.input-area{

display:flex;

}

#user-input{

flex:1;

background:#000;

border:1px solid #ff0000;

color:#ff0000;

padding:5px;

font-size:13px;

}

button{

background:#ff0000;

border:none;

color:#000;

padding:5px 8px;

cursor:pointer;

font-size:13px;

}


/* ======================
MENU ICON
====================== */

#menu-icon{

position:fixed;

top:30px;

left:30px;

width:60px;

height:60px;

background:#000;

border:2px solid #ff0000;

border-radius:50%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:6px;

cursor:pointer;

z-index:100;

}

#menu-icon span{

width:26px;

height:4px;

background:#ff0000;

}


/* ======================
MENU LATERAL
====================== */

#side-menu{

position:fixed;

top:0;

left:-250px;

width:250px;

height:100%;

background:#000;

border-right:2px solid #ff0000;

padding-top:140px;

transition:0.3s;

z-index:90;

}

#side-menu a{

display:block;

padding:15px 25px;

color:#ff0000;

text-decoration:none;

font-family:monospace;

border-bottom:1px solid #330000;

}

#side-menu a:hover{

background:#ff0000;

color:#000;

}